<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/global-style.css" />
  </head>
  <body>
    {{{body}}}
    <div id="app"></div>
    {{clientScripts "index"}}    
  </body>
</html>