<div class="content-container">
  <h1>{{title}}</h1>
  <form action="/login" method="post">
    {{csrfField}}
    <input name="username" type="text" autocomplete="username" />
    <input name="password" type="password" autocomplete="current-password" />
  </form>
</div>